.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1, h4 {
  text-align:left; padding-left:0px;
}

h2 {
  margin-left: 50px;
}

.Background {
  position:absolute; top:70px; width:1560px; height:100%; 
  background-color:#e7e7e7; 
}
    
.Page {
  display:flex; justify-content:center;
}

table {
  width:400px;
}

table.CompanySearch {
  width:400px; table-layout:fixed;
}

.CompanySearch tr {
  text-align:center;
}

td.company_desc {
  text-align:left;
}